.tudo{
  margin-bottom:40px;
  padding:10px;
}
.card{
  padding:20px;
  background-color:#421c5e;
  border: 3px solid white;
  border-radius: 10px;
  font-size: 14px;
  box-shadow: 0 15px 25px black;
}
.botao1{
  font-size: 16px;
  border: 1px solid white;
  padding:7px;
  color:white;
  background-color: #008a17;
}
.botao1:hover {
	background-color: #497e52;
	}

.botoes{
 padding:5px;
}
.texto{
  padding:10px;
}

