
.header{
  width:100%;
  background-color: #19012B;
  color:white;
  border-bottom: 1px solid white; 
}
.menu{
  display:flex;
  justify-content: center;
  align-items: center;
}
.titulo{
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:28px; 
}
.link{
  margin:10px;
}
.link:hover{
	color: #9c60d7;
}
.h1:hover{
	color: #9c60d7;
}