.card{
  padding:15px;
  background-color:#2e0250;
  border: 3px solid white;
  border-radius: 10px;
  font-size: 13px;
  display:flex;
  justify-content: column;
  align-items: center;
  flex-wrap:wrap;
}
.botao1{
  font-size: 16px;
  border: 1px solid white;
  padding:6px;
  width:30%;
  color:white;
  background-color: red;
}

.botao1:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

.botao2:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

.botao3:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

.botao2{
  font-size: 16px;
  width:30%;
  border: 1px solid white;
  padding:6px;
  color:white;
  background-color: blue;
}

.botao3{
  font-size: 16px;
  width:30%;
  border: 1px solid white;
  padding:6px;
  color:white;
  background-color: #464686;
}

.botoes{
  margin-top:10px;
  margin-bottom:5px;
  width:100%;
  display:flex;
  justify-content: space-around;
}

.link:hover{
	color: #9c60d7;
}



